@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --main-font: "Roboto", sans-serif;
}

* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--main-font);
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: inherit;
}

.top {
  display: hidden;
}

/* HEADER */
header {
  position: sticky;
  top: 0px;
  font-size: 20px;
  background-color: #dadff7;
  color: #232c33;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0.4rem 1.3rem;
  z-index: 2;
}

/* NAV */
nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav > ul {
  display: flex;
  justify-content: space-around;
}

nav > ul > li {
  margin: 0.9rem;
}
.hamburger {
  display: none;
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
}

/* SECTIONS */
h1 {
  font-size: 4rem;
  text-align: center;
}

h2 {
  font-weight: 200;
  text-align: center;
}

.mainSection {
  /* line-height: 2em; */
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
  padding: 0 4%;

}

#mainTitle {
  background-color: #5a7d7c;
  color: #dadff7;
}
svg {
  display: block;
}

#newMovies {
  background-color: #232c33;
  color: #dadff7;
}

#topFive {
  text-align: right;
  background-color: #dadff7;
  color: #232c33;
}

#topFive a {
  color: #5a7d7c;
}

#oldies {
  background-color: #5a7d7c;
  color: #dadff7;
}

#finalCut {
  text-align: right;
  background-color: #232c33;
  color: #dadff7;
}

#contactMe {
  background-color: #dadff7;
  color: #232c33;
}

/* FOOTER */

footer {
  background-color: #232c33;
  display: flex;
  justify-content: space-between;
  padding: 4% 10%;
  color: #dadff7;
}

.socialMedia {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.icons-footer {
  display: flex;
  justify-content: space-evenly;
  gap: 15px;
  font-size: 35px;
}

.blogInfo {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  font-size: 30px;
}

.blogInfo p{
  font-size: 19px;
}

/* MEDIA QUERIE */
@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
  }

  nav > ul {
    flex-direction: column;
    text-align: center;
  }

  nav > ul > li {
    margin: 0.5rem 0;
  }

  .mainSection {
    font-size: 20px;
    padding: 5rem 2rem;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  .hamburger {
    display: block;
  }

  .mobile-nav {
    display: flex;
  }

  .hidden {
    display: none;
  }

  footer {
    padding: 4% 8%;
  }
  
  .socialMedia {
    font-size: 18px;
  }
  .icons-footer {
    font-size: 30px;
  }
  
  .blogInfo {
    font-size: 18px;
  }
  
  .blogInfo p{
    font-size: 15px;
  }
}

@media screen and (max-width: 480px) {
  .carousel-images img {
    height: 28vh;
  }

  .prev,
  .next {
    padding: 10px;
    font-size: 1rem;
  }

  nav > ul > li {
    font-size: 0.9rem;
  }

  footer {
    padding: 5%;
  }
  
  .socialMedia {
    font-size: 15px;
  }
  .icons-footer {
    font-size: 23px;
  }
  
  .blogInfo {
    font-size: 15px;
  }
  
  .blogInfo p{
    font-size: 12px;
  }

  .blog-logo {
    display: none;
  }

  
}
